*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  color:  #D1d3d4;
  font-family: 'Open Sans', sans-serif;
}

article {
  border-bottom: 3px solid #d1d3d4;
  height: 40%;
  margin: auto;
  width: 80%;
}

body {
  height: 100vh;
  margin: 0;
}

button {
  display: inline-block;
}

input:placeholder {
  color: #BDBEC0;
  margin: 0;
  padding-left: .5rem;
  vertical-align: top;
}

h1 {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size: 1.5rem;
  margin: auto;
  padding-top: 0.5rem;
  text-align: center; 
  width: 60%;
}

h1 span {
  color: #6D6E71;
  margin: -2;
}

h2 {
  color: #6D6E71;
  display: inline-block;
  font-size: 1rem;
}

h4 {
  display: inline-block;
  font-size: 0.9rem;
}

h4 span {
  color: #6D6E71;
}

html {
  font-size: 20px;
}

header {
  background-color: #E5F3F2;
  height: 50%;
  margin: 0;
}

p {
  bottom: 1.5rem;
  font-size: 0.8rem;
  color: #939598;
  position: relative;
}

.user-content:placeholder {
  bottom: 30%;
  position: relative;
}

.article-header {
  background-color: #FFFFFF;
  margin: 0;
  position: relative;
  width: 100%;
}

.upvote-btn,
.downvote-btn,
.delete-btn,
.upvote-importance,
.downvote-importance {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border-style: none;
  height: 1rem;
  width: 1rem;
}

.completed-task-btn {
  top: 15px;
  right: 8px;
  float: right;
  position: relative;
}

.completed-task-btn:hover {
  background-color: red;
  color: white;
}

.complete-task {
  background-color: #f5f5f5f5;
}

.delete-btn {
  background-image: url(images/idea-icons/delete.svg);
  display: inline-block;
  float: right;
  margin-top: 15px;
}

.delete-btn:hover {
  background-image: url(images/idea-icons/delete-hover.svg);
}

.quality-line {
  float: left;
  margin-right: 20px;
}

.show-completed-btn, .more-tasks{
  background-color: #00A79D;
  color: #FFFFFF;
  width: 414px;
  height: 30px;
  display: block;
  margin: 0.5rem auto;
}

.importance-btn {
  left:22.7rem;
  position: relative;
  width: 70px;
}

.importance-btn:hover {
  background-color: red;
  color: white;
}

.show-completed-btn:hover {
  background-color: red;
  color: white;
}

.more-tasks {
  display: block;
  margin: 0.5rem auto;
}

.more-tasks:hover {
  background-color: red;
  color: white;
}

.upvote-btn {
  background-image: url(images/idea-icons/upvote.svg);
}

.upvote-btn:hover {
  background-image: url(images/idea-icons/upvote-hover.svg);
}

.downvote-btn { 
  background-image: url(images/idea-icons/downvote.svg);
}

.downvote-btn:hover {
  background-image: url(images/idea-icons/downvote-hover.svg);  
}

.upvote-importance {
  background-image: url(images/idea-icons/upvote.svg);
}

.upvote-importance:hover {
  background-image: url(images/idea-icons/upvote-hover.svg);
}

.downvote-importance {
  background-image: url(images/idea-icons/downvote.svg);
}

.downvote-importance:hover {
  background-image: url(images/idea-icons/downvote-hover.svg);
}

.save-btn {
  background-color: #00A79D;
  border-radius: 0%;
  color: #FFFFFF;
  left: 1.2rem;
  font-size: 0.8rem;
  height: 1.5rem;
  position: relative;
  width: 85%;
}

.save-btn:hover {
  background-color: #045E55;
}

.missing-input-text {
  background-color: #E5F3F2;
  border-style: none;
  font-size: .6rem;
  height: 1.5rem;
  margin: auto;
  position: relative;
  text-align: center;
  top: 0.2rem;
  width: 85%;
}

#title,
#content,
#search {
  border: solid 1.5px #d1d3d4;
  color:  #D1d3d4;
  display: block;
  font-size: 0.8rem;
  font-weight: bold; 
  margin: 0.5rem auto;
  width: 85%; 
}

#title {
  height: 1.6rem;
}

#content {
  height: 4rem
}

#search {
  margin-top: 1rem;
  width: 80%;
}

@media screen and (min-width: 400px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 9%;
    width: 80%;
  }

  #content {
    height: 4rem;
  }

  .article-header {
    text-align: left;
  }

  .missing-input-text {
    font-size: 0.7rem;
  }
  
  #title,
  #content,
  #search {
    width: 80%;
  }

@media screen and (min-width: 500px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 7%;
    width: 80%;
  }

  #content {
    height: 4rem;
  }

  .missing-input-text {
    font-size: 0.7rem;
  }
  
  #title,
  #content,
  #search {
    width: 80%;
  }

  article {
    width: 80%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 7%;
    width: 40%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 700px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 6%;
    width: 40%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 800px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 5%;
    width: 40.2%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}


@media screen and (min-width: 900px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 5%;
    width: 40%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}


@media screen and (min-width: 1000px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 5%;
    width: 40%;
  }

  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}


@media screen and (min-width: 1100px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 4%;
    width: 40.1%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}


@media screen and (min-width: 1200px) {
  header {
    height: 38%;
  }
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 3.4%;
    width: 40.1%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1300px) {
  header {
    height: 38%;
    text-align: center;
  }

  .save-btn {
    margin-right: 3.4%;
    width: 40.1%;
  }
  
  #title,
  #content,
  #search {
    width: 40%;
  }

  article {
    width: 40%;
  }

  .article-header {
    font-size: .9rem;
    text-align: left;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1400px) {
  header {
    height: 46%;
  }

  article {
    width: 45%;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  .save-btn {
    height: 2.2rem;
    margin-left: 0%;
    width: 45%;
  }

  .delete-btn {
    position: absolute;
    top: 1.9rem;
    right: 0;
  }

  #title,
  #content,
  #search {
    margin-bottom: 1.3rem;
    width: 45%;
    height: 2rem;
  }

  .missing-input-text {
    font-size: 1rem;
  }
}